.CreateAppointment {
    margin-top: 50px;
    padding: 10px;
    .schedule-card-content {
        width: 100%;
        .MuiFormControl-root {
            width: 100%;
        }
    }
    @media screen and (max-width: 767px) {
        .col-12 {
            margin-bottom: 20px;
        }
    }
}