.Dashboard {
    margin-top: 50px;
    padding: 10px;
    .actions-card {
        a {
            text-decoration: none;
        }
        div {
            margin-bottom: 20px;
            width: 100%;
            &:first-of-type {
                margin-top: 10px;
            }
            Button {
                width: 100%;
            }
        }
    }
    
}